<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.kaisar.xposed.godmode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <application
            android:name=".GodModeApplication"
            android:icon="@mipmap/ic_god"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SettingsActivity"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity-alias
                android:name="SettingsAliasActivity"
                android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
                android:name=".QuickSettingsService"
                android:icon="@drawable/ic_angel_normal"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
                android:name=".QuickSettingsCompatService"
                android:icon="@drawable/ic_angel_normal"
                android:label="@string/app_name" />

        <meta-data
                android:name="xposedmodule"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="@string/xposed_description" />
        <meta-data
                android:name="xposedminversion"
                android:value="53" />
        <meta-data
                android:name="xposed_init"
                android:value="com.kaisar.xposed.godmode.injection.GodModeInjector" />
    </application>

</manifest>